Django==6.0.1
Markdown==3.8.2
Pillow==11.3.0
gunicorn==24.0.0
matplotlib==3.11.1
numpy==2.5.1
pandas==3.0.5
python-dotenv==1.2.1
psycopg2-binary==2.9.11
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
whitenoise==6.12.0